#titleWords{
    text-align: left;
    font-size: 80%;
    margin-bottom: 20px;
}
#mainBody{
    background-color: brown;
    height: 40vh;
    
}

.biggerContainer{
    display: flex;
    flex-direction: column;
     background-color: white;
     margin-bottom: 5px;  
     align-items: left;
     width: fit-content;

}
.containter {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 40%;   
}
#lb{
    margin-top: 2px;
    font-size: 10px;
    margin-left: 2px;
    color: brown;
}

.lowerBound {
    display: flex;
    flex-direction: column;
    background-color:rgb(226, 233, 239);
    width: 90px;


}
#textBox {
    border: 0.5px solid black;
    background-color: white;
    width: 40px;
    float: right;
    margin-right: 50px;

}



.grades{
    display: flex;
    flex-direction: column;
    font-size: 8px;
}
.bars{
    display: flex;
    flex-direction: column;
}

    
[id^="element-"]{
    font-size: 9px;
    margin-left: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

 .leftSide{
    background-color: white;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
 }
 #lb2{
    background-color: rgb(226, 233, 239);
    margin-bottom: 5px;
 }
 #charts{
    margin-bottom: 10px;
 }
 .newGrade{
    font-size: 10px;
    padding-top: 2px;
}
#subcon{
    height: 100%;
    background-color: rgb(226, 233, 239);
}
#errorMessage{
    color: red;
    font-size: 5px;
    font: italic;
}

#newGradeBox{
    border: 0.5px solid black; 
    background-color: white;
    width: 90px;
    height: 10px;
    float: right;
    margin-right: 90px;
    margin-top: 3px;
    margin-bottom: 40px;
}
.labels{
    display: flex;
    flex-direction: column;
    font-size: 7px;
    margin-bottom: 10px;
    
}
.contents{
    display: flex;
    flex-direction: row;
    width: 100px;
}

[id^="bounds-"]{
    border: 0.5px solid black;
    background-color: white;
    width: 25px;
    float: right;
    font-size: 7px;
    margin-bottom: 8px;

 }
.bounds{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#label{
    margin-bottom: 11px;
    font-size: 7px;
    margin-left: 8px;
}
#newW{
    font-size: 7px;
    margin-left: 3px;
}



